@use "../abstracts/variables" as *;

@font-face {
    font-family: 'futura-book';
    src: url('../../fonts/FuturaPTBook.woff');
}

@font-face {
    font-family: 'futura-demi';
    src: url('../../fonts/FuturaPTDemi.woff');
}

@font-face {
    font-family: 'futura-bold';
    src: url('../../fonts/FuturaPTBold.woff');
}

h1{
    font-family: 'futura-bold', sans-serif;
    text-align: center;
    font-size: 50px;
    color: $neutral;
}

h2{
    font-family: 'futura-bold', sans-serif;
    font-size: 30px;
    color: $neutral;
}

body, p, label, ul, li, a, input, button, select, div, table, textarea{
    font-family: 'futura-book', sans-serif;
    font-size: 16px;
}