@use "../abstracts/variables" as *;

.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    .nav-admin{
        display: flex;
        width: 150px;
        justify-content: space-between;
        i{
            color: $bleu;
            font-size: 30px;
            &:hover{
                color: $neutral;
            }
        }
    }
}